@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* base */

body {
  font-family: 'Bruno Ace SC', serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* layout */
.nav {
  padding: 40px 0;
  background-color: #000;
  color: #D1D1D1;
}
/* component */
.btn {
  padding: 12px 24px;
  border-radius: 32px;
}

.btn-light {
  background: #fff;
  color: #000
}

/* page */
.banner {
  background-color: #000;
  color: #fff;
}

.banner__content {
  flex: 1;
}

.banner__title--strong {
  display: block;
  text-align: right;
}
/* utils */
.container {
  width: 1296px;
  margin: 0 auto;
}

.text-primary {
  color: #00FFA3;
}

.h1 {
  font-size: 128px;
}

.h2 {
  font-size: 64px;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}

.flex {
  display: flex;
}

.justify-center	{
  justify-content: center;
}

.justify-between	{
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.mr-6 {
  margin-right: 24px;
}