@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* base */

body {
  font-family: 'Bruno Ace SC', serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* layout */

/* component */

/* page */

/* utils */
.container {
  width: 1296px;
  margin: 0 auto;
}

.h1 {
  font-size: 128px;
}

.h2 {
  font-size: 40px;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}